.container-form-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(27, 22, 22, 0.3);
}
.custom-pagination {
  display: flex;
  justify-content: flex-end;
}
.custom-pagination::ng-deep .ngx-pagination .current {
  background: #4b49ac !important;
}
.custom-pagination::ng-deep .ngx-pagination li {
  margin-right: 0px;
}

.custom-pagination::ng-deep .ngx-pagination a::after {
  display: none;
}

.custom-pagination::ng-deep .ngx-pagination li::before {
  display: none;
}

.custom-pagination::ng-deep .ngx-pagination li::after {
  display: none;
}

.custom-pagination::ng-deep .ngx-pagination a::before {
  display: none;
}
