<div class="card">
  <div class="card-body">
    <div class="w-100 d-flex align-items-center justify-content-between">
      <h4 class="card-title">{{ lAddress.title }}</h4>
      <!-- (click)="updateOrCreateAddress()" -->
      <button style="margin-left: 10px;" type="button" class="btn btn-primary">Create</button>
    </div>
    <p class="card-description">Dbclick từng dòng để xem chi tiết</p>
    <ng-container *ngIf="list.length > 0">
      <div class="table-responsive">
        <ng-container *ngIf="lAddress.currentType === 'Province'">
          <table class="table">
            <thead>
              <tr>
                <th>Level</th>
                <th>Province Name</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr *ngFor="let add of list; let i = index" (dblclick)="selectedAddress(add)">
                  <td>{{ add.cap }}</td>
                  <td>{{ add.provinceName }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td>
                    <button (click)="updateOrCreateAddress(add)" style="margin-right: 10px;" type="button"
                      class="btn btn-primary">Update</button>
                    <button (click)='deleteAddress(add.id)' type="button" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="lAddress.currentType === 'District'">
          <table class="table">
            <thead>
              <tr>
                <th>Level</th>
                <th>District Name</th>
                <th>District Code</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr *ngFor="let add of list; let i = index" (dblclick)="selectedAddress(add)">
                  <td>{{ add.cap }}</td>
                  <td>{{ add.districtName }}</td>
                  <td>{{ add.districtCode }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td>
                    <button (click)="updateOrCreateAddress(add!)" style="margin-right: 10px;" type="button"
                      class="btn btn-primary">Update</button>
                    <button (click)='deleteAddress(add.id)' type="button" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="lAddress.currentType === 'Ward'">
          <table class="table">
            <thead>
              <tr>
                <th>Level</th>
                <th>Ward Name</th>
                <th>Ward Code</th>
                <th>District Code</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr *ngFor="let add of list; let i = index" (dblclick)="selectedAddress(add)">
                  <td>{{ add.cap }}</td>
                  <td>{{ add.wardName }}</td>
                  <td>{{ add.wardCode }}</td>
                  <td>{{ add.districtCode }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td>
                    <button (click)="updateOrCreateAddress(add!)" style="margin-right: 10px;" type="button"
                      class="btn btn-primary">Update</button>
                    <button (click)='deleteAddress(add.id)' type="button" class="btn btn-danger">Delete</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="list.length > 0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Level</th>
              <th>{{ lAddress.currentType }} Name</th>
              <th>{{ lAddress.currentType }} Code</th>
              <th>Province Code</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="lAddress && lAddress.items">
              <tr
                *ngFor="let add of list; let i = index"
                (dblclick)="selectedAddress(add)"
              >
                <td>{{ add.cap }}</td>
                <td>{{ add[lAddress.currentType + "Name"] }}</td>
                <td>{{ add[lAddress.currentType + "Code"] }}</td>
                <td>{{ add.provinceCode }}</td>
                <td>{{ add.isActive }}</td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container> -->
  </div>
</div>
<div class="container-form-overlay" *ngIf="isShowOrHiddenForm">
  <app-form-create-update-address class="w-50" #child [model]="currentModel"
    (isActionForm)="listenStatusForm($event)"></app-form-create-update-address>
</div>