<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ lAddress.title }}</h4>
    <!-- <p class="card-description">Add class <code>.table</code></p> -->
    <ng-container *ngIf="list.length > 0">
      <div class="table-responsive">
        <ng-container *ngIf="lAddress.currentType === 'Province'">
          <table class="table">
            <thead>
              <tr>
                <th>Cap</th>
                <th>Province Name</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr
                  *ngFor="let add of list; let i = index"
                  (dblclick)="selectedAddress(add)"
                >
                  <td>{{ add.cap }}</td>
                  <td>{{ add.provinceName }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="lAddress.currentType === 'District'">
          <table class="table">
            <thead>
              <tr>
                <th>Cap</th>
                <th>District Name</th>
                <th>District Code</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr
                  *ngFor="let add of list; let i = index"
                  (dblclick)="selectedAddress(add)"
                >
                  <td>{{ add.cap }}</td>
                  <td>{{ add.districtName }}</td>
                  <td>{{ add.districtCode }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="lAddress.currentType === 'Ward'">
          <table class="table">
            <thead>
              <tr>
                <th>Cap</th>
                <th>Ward Name</th>
                <th>Ward Code</th>
                <th>District Code</th>
                <th>Province Code</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="lAddress && lAddress.items">
                <tr
                  *ngFor="let add of list; let i = index"
                  (dblclick)="selectedAddress(add)"
                >
                  <td>{{ add.cap }}</td>
                  <td>{{ add.wardName }}</td>
                  <td>{{ add.wardCode }}</td>
                  <td>{{ add.districtCode }}</td>
                  <td>{{ add.provinceCode }}</td>
                  <td>{{ add.isActive }}</td>
                  <td></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-container>
      </div>
    </ng-container>
    <!-- <ng-container *ngIf="list.length > 0">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Level</th>
              <th>{{ lAddress.currentType }} Name</th>
              <th>{{ lAddress.currentType }} Code</th>
              <th>Province Code</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="lAddress && lAddress.items">
              <tr
                *ngFor="let add of list; let i = index"
                (dblclick)="selectedAddress(add)"
              >
                <td>{{ add.cap }}</td>
                <td>{{ add[lAddress.currentType + "Name"] }}</td>
                <td>{{ add[lAddress.currentType + "Code"] }}</td>
                <td>{{ add.provinceCode }}</td>
                <td>{{ add.isActive }}</td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container> -->
  </div>
</div>
