.container-form-product {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(27, 22, 22, 0.3);
}
.tr-category {
  &.active {
    background-color: #4b49ac;
    color: #ffff;
  }
}
